:root {
  --body-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-logo-color: #000000;
  --button-primary-color-hover: #188ce8;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --team-back-color: #f5f4fa;
  --bg-hero-footer-color: #2f303a;
}

html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  background-color: var(--body-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}
address {
  color: inherit;
  font-style: normal;
  /* margin-left: auto; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* утилиты */

.list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid aqua;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* page-header */
.page-header {
  background-color: var(--body-color);
  border: 1px solid #ececec;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* main-nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  display: flex;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo .web {
  color: var(--accent-color);
}

.logo .studio {
  color: var(--text-logo-color);
}

/* site-nav */

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item {
 margin-right: 50px;
} */
/* .site-nav .item:last-child {
  margin-right: 0px;
} */

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* .site-nav .link:hover, 
.site-nav .link:focus {
  color: var(--accent-color);
}*/

/* .site-nav .link.current {
  color: var(--accent-color); 
}*/

/* address-header */
.address-header {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-block;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-header + .address-header {
  margin-left: 50px;
}

.address-header:hover,
.address-header:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: var(--bg-hero-footer-color);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;

  /* width: 1600px; */
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--body-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Button */
.button-primary {
  min-width: 200px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--body-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  padding: 10px 32px;
  display: inline-block;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--body-color);
  color: var(--title-text-color);
  /* border-color: var(--accent-color); */
}

/* Section */
/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

.section .section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
}

.section-team {
  background-color: var(--team-back-color);
  padding-bottom: 94px;
}

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work {
  padding-top: 0px;
  padding-bottom: 94px;
}

/* features */
/* .feature-list .feature {
  width: 270px;
  height: 101px;
} */

.feature-list .items + .items {
  margin-left: 30px;
}

.feature-list {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}

.feature-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .paragraph {
  margin-top: 0px;
  margin-bottom: 0px;
  /* padding-top: 10px; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ::before-общий */
.feature-list .items::before {
  content: '';
  display: block;
  height: 120px;
  outline: 1px solid red;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: ; */

  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}
.icon-antenna::before {
  background-image: url();
}
.icon-clock::before {
  background-image: url();
}
.icon-diagram::before {
  background-image: url();
}
.icon-astronaut::before {
  background-image: url();
}

/* альтернатива без доп.класса*/
/* .feature-list .items:nth-child(1)::before {
  background-image: url();
}
.feature-list .items:nth-child(2)::before {
  background-image: url();
} */

/* чем мы занимаемся */
.desc {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}
.desc .item + .item {
  margin-left: 30px;
}

/* our team */
/* .team .item {
  display: flex;
} */
.section-team .team {
  display: flex;
  /* align-items: center;
  justify-content: space-between; */
}

.team .item + .item {
  margin-left: 30px;
}

.caption {
  padding-top: 94px;
}
.team .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4p;
  background-color: var(--body-color);
}

.item .photo {
  margin-bottom: 30px;
}

.section-team .name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 10px;
}

.section-team .profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 30px;
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-hero-footer-color);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .address-footer {
  margin-top: 0px;
  margin-bottom: 60px;
}

.footer .list {
  margin-top: 0px;
  margin-bottom: 0px;
} */

.nav-footer {
  margin-top: 0px;
  margin-bottom: 20px;
}

.adds-webstudio {
  color: var(--body-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.link-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.web-footer {
  color: var(--accent-color);
}

.studio-footer {
  color: var(--body-color);
}

/* finish */

/* СТИЛИ ПОРТФОЛИО */
/* фильтры или радио кнопки */

.filtres {
  color: var(--title-text-color);
  background-color: var(--team-back-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  border: 1px solid transparent;

  align-items: center;
  text-align: center;

  min-width: 73px;
}

.content-selector .items + .items {
  margin-left: 8px;
}

/* .button-primary {
  padding: 10px 32px; 
} */

/* контент портфолио */

.portfolio {
  margin: 0px;
  padding-top: 94px;
  padding-bottom: 0px;
}

.content-selector {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 50px;
  min-width: 611px;
}

.content-selector .filtres:hover,
.content-selector .filtres:focus,
.content-selector .filtres:active {
  color: var(--body-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.portfolio .section-title {
  margin-top: 0px;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio .paragraph {
  margin-top: 0px;
  margin-bottom: 0px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;
}

.portfolio .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio .item {
  width: 370px;

  margin-bottom: 30px;
  margin-right: 30px;
}
/* .content .item:not(:nth-child(3n)) {
  margin-right: 30px;
} */

.content .item:nth-child(3n) {
  margin-right: 0px;
}

.content .item:nth-last-child(-n + 3) {
  margin-bottom: 94px;
}
.content .item:hover,
.content .item:focus {
  /* color: var(--accent-color); */
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* альтернатива-1 */
/* .content .item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.content .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
/* альтернатива-2 */
/* .content .item + .item {
  margin-left: 30px;
}
.content .item:nth-child(3n + 1) {
  margin-left: 0px;
}
.content .item:nth-last-child(-n + 3) {
  margin-bottom: 94px;
} */
/* .content .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
.content .card {
  background-color: var(--body-color);
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  box-sizing: border-box;

  width: 370px;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* .images {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
  background-image: linear-gradient(
    to right,
    rgba(),
    rgba()    
    );
    url("../")
    background-repeat: no-repeat;
    background-position: center;
     background-size: cover;


     background: #C4C4C4;
} */
